<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let content of contents">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/300x200.png?text=Thumbnail" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ content.title }}</h5>
          <p class="card-text">{{ content.description }}</p>
          <button (click)="goToContentDetails(content.id)" class="btn btn-primary">View Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
